@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
	background-color: rgba(163, 11, 225, 0.6);
}

#contenedor{

	width: 30%;
	background-color:rgba(163, 11, 225, 0.6);
	color:darkgrey;
	margin:auto;
	padding: 20px;
}

h1{
	font-family: arial, Roboto, verdana;
	text-align: center;

}

form{
	margin: auto;
}


.p{
	width:75%;
	clear: both;

}
.p input{
	display:block;
	width: 50%;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid rgb(156,156,156);	
}
.p1 textarea{
	width:100%;
	height:150px;
	border-radius: 5px;
	outline: none;
	border: 1px solid rgb(156, 156, 156);
	padding:10px 5px;
}

